{{ if eq .Site.Language.Lang "zh" }}
<nav id="home-nav" class="relative w-full ps-0 flex list-none gap-1
    text-size-sm md:text-size-base">
    {{ partial "home/home-nav-item" (dict
        "text" (T "postNav.latest")
        "link" ""
        "active" (eq "/" $.Page.RelPermalink)
    ) }}
    {{ if eq .Site.Language.Lang "zh" }}
        {{ partial "home/home-nav-item" (dict
            "text" (T "postNav.featured")
            "link" "featured"
            "active" (eq "/featured/" $.Page.RelPermalink)
        ) }}
        {{ partial "home/home-nav-item" (dict
            "text" (T "postNav.categories")
            "link" "categories"
            "active" (or
                (strings.HasPrefix $.Page.RelPermalink "/categories/")
                (strings.HasPrefix $.Page.RelPermalink "/tags/"))
        ) }}
    {{ end }}

    <a href="{{ .Site.LanguagePrefix }}/stats"
        class="absolute right-0 dark:invert
        block opacity-50 transition-opacity duration-300 hover:opacity-100
        {{ if eq "/stats/" $.Page.RelPermalink }} opacity-100 font-bolder{{ end }}">
            <img src="/img/graph.svg" class="opacity-50 h-8 w-8" alt="Cthulu-style monster with an eye." />
    </a>
</nav>
{{ end }}
