<header class="pagefind-exclude">
  <!-- Logo & Title -->
  <div class="flex flex-col items-center gap-2">
    {{ if .IsHome }}
        {{ partial "header/hoverable-logo" . }}
    {{ else }}
        {{ partial "components/logo" (dict "imageClass" "w-[10rem]") }}
    {{ end }}
    <a class="text-8 font-900 text-center tracking-widest
        xerox hover:no-underline"
        href="{{ .Site.LanguagePrefix }}/"
      >{{ .Site.Title }}</a
    >
  </div>
  <!-- Navigation -->
  {{ $navOffset := "pl-6" }}
  <div class="flex justify-center items-center gap-3 text-size-sm md:text-size-base {{ $navOffset }}">
      {{ partial "header/navigation" . }}
      {{ partial "header/language-switch" . }}
  </div>
</header>
