
#webmentions {
    margin: 0;
    position: relative;
    z-index: 100;
    line-height: 1.2em;
    margin: 1rem 0;
    background: var(--block-background-color);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;

    ul.comments {
        max-height: 20em;
        overflow-x: hidden;
        overflow-y: scroll;
        list-style-type: none;
        margin: 0;
        padding: 4px;

        li {
            text-indent: -1em;
            padding-left: 1em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            a.source {
                font-weight: 700;
            }
            .text {
                color: #555;
                font-style: italic;
                text-decoration: none;
            }
            .name {
                color: var(--secondary-text-color)
            }
        }
    }
    h2 {
        display: none;
    }
    .reacts img {
        margin: 3px -1ex 1px 0;
    }
    img.missing {
        background: white;
        border: dashed black 1px;
    }
    a.reaction {
        position: relative;
        text-decoration: none;
        text-shadow: 0px 0px 3px white;
        margin-right: 0;
        letter-spacing: -1ex;
        margin-right: 2ex;
        font-size: 80%;
        img {
            max-height: 1.3rem;
            width: auto;
            margin-right: -1ex;
            border-radius: 25%;
        }
        sub {
            font-size: 50%;
        }
    }
}
