{{ define "main" }}
    <article>
      {{ partial "header.html" . }}
      {{ partial "home/home-nav" . }}
      <style>
      #thoughts-content {
          font-size: 1.125rem;
      }
      #thoughts-content ul {
          list-style: none;
          padding-inline-start: 0;
          margin: 2rem 0;
          display: flex;
          flex-direction: column-reverse;
          gap: 1rem;
      }
      #thoughts-content ul li {
          background-color: rgba(var(--block-background-color-rgb), 0.5);
          padding: 1rem 1.5rem;
          border-radius: 0.5rem;
      }
      #thoughts-content ul li > span {
          color: var(--secondary-text-color);
          font-size: 1rem;
      }
      </style>
      <div id="thoughts-content" class="post-content markdown-body text-size-lg md:text-size-xl leading-loose"
          style="view-transition-name: post-content-{{ .File.UniqueID }}">
        {{ partial "posts/toc" . }}
        {{ .Content }}
      </div>
    </article>
    {{ partial "footer.html" . }}
{{ end }}
